{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}ALLPlayersViews{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'cricket/css/style1.css' %}">{% endblock css %}

{% block content %}
    <h5 class="text-center mt-2 mb-2">ALL Players</h5>
    <br>
    <h5>Select any player by clicking on image to get the player's details....</h5>
    <br>
    <div class="card-group">
        {% for player in page_obj %}
            <div class="card">
                <a href="{% url 'playerdetail' player.id %}"><img class="card-img-top" src="{{player.player_image.url}}" alt="Card image cap"></a>
                <div class="card-body">
                <p class="card-text"><small class="text-muted"><b>{{player.player_first_name}}-{{player.player_role}}</b></small></p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm-7 offset-5 mt-5">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"><strong class=>Previous</strong></a>
            {% endif %}

            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><strong>Next</strong></a>
            {% endif %}
        </div>
    </div>
{% endblock content %}