{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}ChangePassword{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 offset-1 mt-4">
            <h2 class="text-center">Change Password</h2>
            <br>
            {{form.non_field_errors}}
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}}
                    {{fm}}
                    <small class="errorlist">{{fm.errors|striptags}}</small><br>
                {% endfor %}
                <input type="submit" value="Update" class="btn btn-success btn-sm">
            </form>
        </div>

        <div class="col-sm-6 offset-1 mt-5">
            <img src="{% static 'dashboard/images/Cover_cricket_image.jpg' %}" class="imagesize" alt="">
        </div>
    </div>
{% endblock content %}