{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Reset Password Complete{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 offset-3 mt-4">
            {% if messages %}
                {% for message in messages %}
                    <span {% if message.tag %} class="{{message.tag}}" {% endif %}>{{message}}</span>
                {% endfor %}
            {% endif %}
            <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login</a>
        </div>
    </div>
{% endblock content %}